<div class="row mb-3">
  <div class="col-md-12">
    <h1 class="display-4">
      Movies

      <%= link_to fa_icon("plus"), new_movie_path, class: "btn btn-lg btn-outline-secondary" %>
    </h1>
  </div>
</div>

<!-- Table example -->

<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              Title
            </th>

            <th>
              Description
            </th>

            <th>
              Actions
            </th>
          </tr>
        </thead>

        <tbody>
          <%= render collection: @movies, partial: "table_row", as: :movie %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Card deck example -->

<% @movies.each_slice(3) do |slice| %>
<div class="row">
  <div class="col-md-12">
    <div class="card-deck">
      <%= render collection: slice, partial: "card", as: :movie %>
    </div>
  </div>
</div>
<% end %>

<!-- List group example -->

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <div class="card">
      <h1 class="card-header h4 d-flex align-items-center justify-content-between">
        Movies

        <%= link_to fa_icon("plus fw"), new_movie_path, class: "btn btn-sm btn-outline-secondary" %>
      </h1>

      <div class="list-group list-group-flush">
        <%= render collection: @movies, partial: "list_item", as: :movie %>
      </div>
    </div>
  </div>
</div>
